<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

 

<h3>Edit Your Listing</h3>

    
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
       
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="invalid-feedback">
              Title required.
            </div>
             
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please provide a description.
            </div>
        </div>
          
        <div class="mb-3">
          <label class="form-label fw-bold">Original Listing Image:</label>
          <div class="preview-container">
              <img src="<%= originalImageUrl %>" alt="Listing Image" class="preview-image">
          </div>
      </div>
      
        
          <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
           <input
           type="file" name="listing[image][url]"

      id="image"
      placeholder="Image URL"
      class="form-control" 
    />
    <div class="invalid-feedback">
            Please enter vaild image.
          </div>
    </div>

    
    <div class="mb-3 mb-3 col-md-4">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-select" required>
      <option value="Beach" <%= listing.category === 'Beach' ? 'selected' : '' %>>Beach</option>
      <option value="Amazing View" <%= listing.category === 'Amazing View' ? 'selected' : '' %>>Amazing View</option>
      <option value="Mansion" <%= listing.category === 'Mansion' ? 'selected' : '' %>>Mansion</option>
      <option value="Amazing Pools" <%= listing.category === 'Amazing Pools' ? 'selected' : '' %>>Amazing Pools</option>
      <option value="Arctic" <%= listing.category === 'Arctic' ? 'selected' : '' %>>Arctics</option>
      <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
      <option value="Iconic cities" <%= listing.category === 'Iconic cities' ? 'selected' : '' %>>Iconic cities</option>
    </select>
    </div>
  

    <div class="row">

    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
         <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
         <div class="invalid-feedback">
            Please enter vaild price.
          </div>
    </div> 
       
        
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required>
        <div class="invalid-feedback">
                Please provide a country name.
              </div> 
      </div> 
    
    </div>
        
     
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
        <div class="invalid-feedback">
                Please Provide a Location.
              </div> 
      </div> 
       
          <button class="btn edit-btn mt-3">Edit</button>
    </form>
      
   <br><br>

   </div>
</div>        
       
        
       
        
      
 